/* Umum */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #F19CBB;
  color: #000000;
}

a {
  color: #F19CBB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* Header */
header {
  background-color: #EC5578;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  color: #F19CBB;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 10px 0 0;
}

nav a {
  color: #ffffff;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid #F19CBB;
}

/* Hero Section */
.hero {
  background: url('https://source.unsplash.com/1600x600/?astronaut,space') no-repeat center center/cover;
  padding: 120px 0;
  text-align: center;
  color: #ffffff;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero .btn {
  display: inline-block;
  background: #F19CBB;
  color: #F19CBB;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.hero .btn:hover {
  background: #F19CBB;
}

/* Main */
main {
  padding: 40px 0;
}

/* Footer */
footer {
  background: #EC5578;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
